io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 216 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the Jwts.SIG.HS256.key() builder (or HS384.key() or HS512.key()) to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.

```bash
Dec 29 17:53:38 ubuntu555 java[9326]: io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 216 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the Jwts.SIG.HS256.key() builder (or HS384.key() or HS512.key()) to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
Dec 29 17:53:38 ubuntu555 java[9326]:         at io.jsonwebtoken.security.Keys.hmacShaKeyFor(Keys.java:83)
Dec 29 17:53:38 ubuntu555 java[9326]:         at io.jsonwebtoken.impl.DefaultJwtParserBuilder.setSigningKey(DefaultJwtParserBuilder.java:245)
Dec 29 17:53:38 ubuntu555 java[9326]:         at io.jsonwebtoken.impl.DefaultJwtParserBuilder.setSigningKey(DefaultJwtParserBuilder.java:252)
Dec 29 17:53:38 ubuntu555 java[9326]:         at net.mhgoi.blog.components.JwtTokenUtil.getClaimsFromToken(JwtTokenUtil.java:153)
Dec 29 17:53:38 ubuntu555 java[9326]:         at net.mhgoi.blog.components.JwtTokenUtil.getUserIdFromToken(JwtTokenUtil.java:77)
Dec 29 17:53:38 ubuntu555 java[9326]:         at net.mhgoi.blog.filter.JwtAuthenticationTokenFilter.doFilterInternal(JwtAuthenticationTokenFilter.java:44)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.logout.LogoutFilter.doFilter(LogoutFilter.java:103)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.logout.LogoutFilter.doFilter(LogoutFilter.java:89)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.CorsFilter.doFilterInternal(CorsFilter.java:91)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.header.HeaderWriterFilter.doHeadersAfter(HeaderWriterFilter.java:90)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.header.HeaderWriterFilter.doFilterInternal(HeaderWriterFilter.java:75)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java:112)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java:82)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.context.request.async.WebAsyncManagerIntegrationFilter.doFilterInternal(WebAsyncManagerIntegrationFilter.java:55)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.session.DisableEncodeUrlFilter.doFilterInternal(DisableEncodeUrlFilter.java:42)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy.doFilterInternal(FilterChainProxy.java:221)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy.doFilter(FilterChainProxy.java:186)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:354)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:267)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.RequestContextFilter.doFilterInternal(RequestContextFilter.java:100)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.FormContentFilter.doFilterInternal(FormContentFilter.java:93)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.CharacterEncodingFilter.doFilterInternal(CharacterEncodingFilter.java:201)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:168)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:90)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:481)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:130)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:93)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:342)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:390)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:63)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:928)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint$SocketProcessor.doRun(Nio2Endpoint.java:1732)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:52)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.AbstractEndpoint.processSocket(AbstractEndpoint.java:1295)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint.setSocketOptions(Nio2Endpoint.java:339)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint$Nio2Acceptor.completed(Nio2Endpoint.java:479)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint$Nio2Acceptor.completed(Nio2Endpoint.java:415)
Dec 29 17:53:38 ubuntu555 java[9326]:         at java.base/sun.nio.ch.Invoker.invokeUnchecked(Invoker.java:127)
Dec 29 17:53:38 ubuntu555 java[9326]:         at java.base/sun.nio.ch.Invoker$2.run(Invoker.java:219)
Dec 29 17:53:38 ubuntu555 java[9326]:         at java.base/sun.nio.ch.AsynchronousChannelGroupImpl$1.run(AsynchronousChannelGroupImpl.java:112)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.threads.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1191)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.threads.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:659)
Dec 29 17:53:38 ubuntu555 java[9326]:         at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
Dec 29 17:53:38 ubuntu555 java[9326]:         at java.base/java.lang.Thread.run(Thread.java:834)
Dec 29 17:54:03 ubuntu555 java[9326]: 2023/12/29-17:54:03 [http-nio2-8001-exec-5] ERROR org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/api].[dispatcherServlet]- Servlet.service() for servlet [dispatcherServlet] in context with path [/api] threw exception
Dec 29 17:54:03 ubuntu555 java[9326]: io.jsonwebtoken.security.WeakKeyException: The signing key's size is 216 bits which is not secure enough for the HS512 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
Dec 29 17:54:03 ubuntu555 java[9326]:         at io.jsonwebtoken.SignatureAlgorithm.assertValid(SignatureAlgorithm.java:389)
Dec 29 17:54:03 ubuntu555 java[9326]:         at io.jsonwebtoken.SignatureAlgorithm.assertValidSigningKey(SignatureAlgorithm.java:317)
Dec 29 17:54:03 ubuntu555 java[9326]:         at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:255)
Dec 29 17:54:03 ubuntu555 java[9326]:         at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:267)
Dec 29 17:54:03 ubuntu555 java[9326]:         at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:277)
Dec 29 17:54:03 ubuntu555 java[9326]:         at net.mhgoi.blog.components.JwtTokenUtil.generateToken(JwtTokenUtil.java:143)
Dec 29 17:54:03 ubuntu555 java[9326]:         at net.mhgoi.blog.components.JwtTokenUtil.generateToken(JwtTokenUtil.java:47)
Dec 29 17:54:03 ubuntu555 java[9326]:         at net.mhgoi.blog.handler.MyAuthenticationSuccessHandler.onAuthenticationSuccess(MyAuthenticationSuccessHandler.java:35)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.AbstractAuthenticationProcessingFilter.successfulAuthentication(AbstractAuthenticationProcessingFilter.java:329)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.AbstractAuthenticationProcessingFilter.doFilter(AbstractAuthenticationProcessingFilter.java:237)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.AbstractAuthenticationProcessingFilter.doFilter(AbstractAuthenticationProcessingFilter.java:217)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at net.mhgoi.blog.filter.JwtAuthenticationTokenFilter.doFilterInternal(JwtAuthenticationTokenFilter.java:75)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.logout.LogoutFilter.doFilter(LogoutFilter.java:103)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.authentication.logout.LogoutFilter.doFilter(LogoutFilter.java:89)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.CorsFilter.doFilterInternal(CorsFilter.java:91)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.header.HeaderWriterFilter.doHeadersAfter(HeaderWriterFilter.java:90)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.header.HeaderWriterFilter.doFilterInternal(HeaderWriterFilter.java:75)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java:112)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java:82)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.context.request.async.WebAsyncManagerIntegrationFilter.doFilterInternal(WebAsyncManagerIntegrationFilter.java:55)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.session.DisableEncodeUrlFilter.doFilterInternal(DisableEncodeUrlFilter.java:42)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:346)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy.doFilterInternal(FilterChainProxy.java:221)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.security.web.FilterChainProxy.doFilter(FilterChainProxy.java:186)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:354)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:267)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.RequestContextFilter.doFilterInternal(RequestContextFilter.java:100)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.FormContentFilter.doFilterInternal(FormContentFilter.java:93)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.CharacterEncodingFilter.doFilterInternal(CharacterEncodingFilter.java:201)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:117)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:178)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:153)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:168)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:90)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:481)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:130)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:93)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:342)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:390)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:63)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:928)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint$SocketProcessor.doRun(Nio2Endpoint.java:1732)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:52)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.AbstractEndpoint.processSocket(AbstractEndpoint.java:1295)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint$Nio2SocketWrapper$2.completed(Nio2Endpoint.java:643)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.net.Nio2Endpoint$Nio2SocketWrapper$2.completed(Nio2Endpoint.java:619)
Dec 29 17:54:03 ubuntu555 java[9326]:         at java.base/sun.nio.ch.Invoker.invokeUnchecked(Invoker.java:127)
Dec 29 17:54:03 ubuntu555 java[9326]:         at java.base/sun.nio.ch.Invoker$2.run(Invoker.java:219)
Dec 29 17:54:03 ubuntu555 java[9326]:         at java.base/sun.nio.ch.AsynchronousChannelGroupImpl$1.run(AsynchronousChannelGroupImpl.java:112)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.threads.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1191)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.threads.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:659)
Dec 29 17:54:03 ubuntu555 java[9326]:         at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
Dec 29 17:54:03 ubuntu555 java[9326]:         at java.base/java.lang.Thread.run(Thread.java:834)

```

```bash
        Key key = Keys.secretKeyFor(SignatureAlgorithm.HS512);
        String jwtSecret = (String) Encoders.BASE64.encode(key.getEncoded());
```